/* banner-background-image style*/
.banner-background-image{
    background-image: url(../assets/Hero-bg.png);
    width: 1928px;
    height: 912.8px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
}  
/* banner style*/
.banner{
    position: absolute;
    width: 1497.2px;
    height: 682px;
    left: 200px;
    right: 200px;
    top: 100px;
    bottom: 80px;
}
/* banner-image style*/
.banner-image{
    width: 242.242px;
    height: 320.46px;
    margin: 0 auto;
    
}
/* banner heading style*/
.banner-heading {
    width: 1397.2px;
    height: 100.4px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} 
.banner-heading p{
    font-size: 36px;
    font-weight: bolder;
}
.banner-heading span{
    display: flex;
    justify-content: center;
}
/* banner text style*/
.banner-text {
    height: 80px;
    width: 800px;
    margin: 0 auto;
   display: flex;
   justify-content: center;
}
.banner-text, span{
    display: flex;
    justify-content: center;
}
.banner-button{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1{
    width: 291px;
    height: 70px;
   color: white;
   background-color: black;
   margin-top: 200px;

}
/* main section style */
.main{
    height: 1200px;
    width: 1100px;
    padding: 112px 135px 112px 135px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.main-heading{
    text-align: center;
}
.main-heading-first-paragraph{
    font-size: 35px;
    font-weight: bolder;
}
.all-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.text-and-image{
    height: 339px;
    width: 1190px;
    display: flex;
    margin: 44px 0px;
    background-color: #FAFAFB;    
}
.text{
    height: 308px;
    width: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-paragraph{
    font-size: 35px;
    font-weight: bolder;
}
.img{
    height: 308px;
    height: 308px;
    margin-left:400px; 
}

.different-img{
    height: 308px;
    height: 308px;
    margin-right:400px; 
}
/* inspiration section style */
.inspiration-section{
    width: 1190px;
    height: 900px;
    margin:  100px auto;
    
}
.iframe{
    height: 550px;
    width: 1190px;
    margin: 0 auto;
}
.one{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.two{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
/* current section style */
.current-target-section{
    width: 1190px;
    height: 620px;
    margin: 0 auto;
}
.all-tokens{
    display: flex;
    justify-content: space-between;
    
}
.token1{
    width: 360px;
    height: 300px;
    border-radius: 16px;
    padding: 15px;
    background-color: #FFF6F4;
}
.token2{
    width: 360px;
    height: 300px;
    border-radius: 16px;
    padding: 15px;
    background-color: #F2F6FE;
}
.token3{
    width: 360px;
    height: 300px;
    border-radius: 16px;
    padding: 15px;
    background-color: #FFFDF2;
}
/* support section style */
.support-section{
    width: 1190px;
    height: 290px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: ;
    background-size:contain;


}
.input-section{
    display: flex;
    justify-content: center;
}
#text-box1
{
    width:300px;
  
}